#tabuleiro {
  
    border:1px #000 solid;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);

}

.casa {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-right: 1px #fff dotted;
}

.casa:hover{
    background-color: hsla(0 93% 0% / 0.42);
}